@font-face {
  font-family: 'Koluchiy';
  src: url('./../fonts/Rubik_Beastly/RubikBeastly-Regular.ttf')
    format('opentype');

  font-weight: 400;
  /* font-style: normal; */
}

@font-face {
  font-family: 'Merriweather';
  src: url('./../fonts/Merriweather/Merriweather-Regular.ttf')
    format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./../fonts/Merriweather/Merriweather-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('./../fonts/Merriweather/Merriweather-Bold.ttf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Merriweather';
  src: url('./../fonts/Merriweather/Merriweather-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
