* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

a {
  color: inherit;
}

li {
  color: red;
}

li:first-child {
  color: blue;
}

li:last-child {
  color: green;
}

li:nth-child(3n) {
  color: violet;
}
