* {
  box-sizing: border-box;
  margin: 0; 
   padding: 0; 
}

a {
  color: inherit;
}

:root {
  --main-color: green;
  --font-size-small: 10px;
  --bonus-color: red;
  --main-color-2: blue;
}

li {
  color: var(--main-color);
  font-size: var(--font-size-small);
}

p {
  color: var(--main-color);
  font-size: var(--font-size-small);
}

h1 {
  font-size: calc( var(--font-size-small) * 2);
}

li:first-child {
  color: blue;
}

li:last-child {
  color: green;
}

li:nth-child(3n) {
  color: violet;
}
